<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633111769364-ch4t01ml3da3t8h6bq9tdnb30ea55p3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633111769364-ch4t01ml3da3t8h6bq9tdnb30ea55p3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAMdGvbjNEriURN-QdH8QU-ahf8MBP3mMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>633111769364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pin.task-friendly</string>
	<key>PROJECT_ID</key>
	<string>taskfriendly-dea17</string>
	<key>STORAGE_BUCKET</key>
	<string>taskfriendly-dea17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633111769364:ios:aebe6a73fe1d5301f2d201</string>
</dict>
</plist>